@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(166, 236, 202);
    font-size: 18px;
    color: black;
    font-family: 'Poppins', sans-serif;

}

h1{
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
    margin-right: 10px;
}
button {
    padding: 5px 10px;
    margin-right: 5px;
    margin: 10px;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;

    transition: all 0.6s;
  }
  
  button:hover {
    background-color: #555
  }

  .divContenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 60px;
    padding: 50px;
    margin-top: 100px;
  }

  input{
    padding: 6px;
    width: 340px;
    height: 40px;
    background: rgb(243, 243, 243);
    border-radius: 10px;
    border: none;

    transition: all 0.6s;
  }

  input:hover{
    background: white;
  }
  

  input::placeholder, input:active, input:focus{
    padding-left: 10px;
  }


  .taskList{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
  }

  .completar{
    background: rgb(18, 185, 18);
    color: white;
    transition: all 0.6s;
    margin-left: 20px;
  }

  .completar:hover{
    background: rgb(25, 154, 25);

  }

  .eliminar{
    background: rgb(222, 12, 12);
    color: white;
    transition: all 0.6s;
  }

  .eliminar:hover{
    background: rgb(192, 21, 21);
  }

  span{
    font-weight: bold;
  }

  .agregarTarea{
    padding: 10px;
    margin-left: 16px;
    border-radius: 10px;
  }

  .contenedorTitulo{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .icono{
    font-size: 22px;
    background: transparent;
  }

  .iconito{
    font-size: 14px;
    background: transparent;
  }

  .iconito2{
    font-size: 17px;
    background: transparent;
  }

  form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
 